html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

.container{
    width: 100vw;
    height: 100vh;
}

.wrapper{
    height: 100%;
}

.north-pane{
    width: 100%;
    height: 40px;
    background-color:#0fa1e7;
}

.center-pane{
    width: 100%;
    height: calc(100% - 40px);
    display: flex;
}

.logo{
    margin: 5px;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 60%;
    float:left;
}

.domain-pane{
    flex:1;
    background-color: #4baede;
    height: 100%;
    border-right: 1px white solid;
}

.domain-pane .domain-icon{
    border: 1px white solid;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    border-radius: 9px;
    color: white;
}

.domain-pane .domain-icon.plus-icon{
    background-image: url('./images/plus-icon.png');
    background-repeat: no-repeat;
    border: none;
    background-size: 90%;
}

.channel-pane{
    flex:4;
    background-color: #4baede;
    height: 100%;
    border-right: 1px white solid;
}

.room-pane{
    flex:10;
    background-color: white;
    height: 100%;
    border-right: 1px;
}

.user-pane{
    flex:4;
    background-color: white;
    height: 100%;
    border: 1px #8bc2ff solid;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 15px;
}

.channel-pane .domain-info{
    color: white;
    padding: 5px;
}

ul{
    margin: 0px;
}

li{
    list-style: none;
}

.domain-info .doamin-title{
    margin-left: 5px;
}

.domain-info li::before{
   width: 20px;
   height: 20px;
   background-color: chartreuse;
}

li .offline{
    width: 20px;
    height: 20px;
    background-color: chartreuse;
}

.divider{
    clear: both;
    border: 1px solid white;
    width: 90%;
    margin: 5px auto;
    opacity: 0.3;
}